{{ template "chart.header" . }}

## TL;DR;

```console
$ helm repo add halkeye https://halkeye.github.io/helm-charts
$ helm install powerdnsadmin halkeye/powerdnsadmin
```

{{ template "chart.description" . }}

{{ template "chart.versionLine" . }}

{{ template "chart.sourceLinkLine" . }}

## Changelog

0.2.0 - Switch to using the official docker image which has version tags

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

